# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
htmlcov/
.tox/
.cache/
.pytest_cache/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# ipython
.ipython/

# pyenv
.python-version
.tool-versions

# Environments
.venv
venv/
ENV/

# Rope project settings
.ropeproject

# mypy
.mypy_cache/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Editor settings
.idea/
.vscode/

# Environmental variables
.env
.envs/*

# Test data
keywords/tests/data/*
!keywords/tests/data/.keep
